/* Media Queries
-------------------------------------------------------------- */
@media only screen and (max-width: 1366px) {
	.row-map .widget-sv {
	    left: 80px;
	}
	
}

/* Smaller than standard 1200 */
@media only screen and (max-width: 1199px) {
	.flat-tabs ul.menu-tab li a {
		margin-right: 150px;
	}

	.btn-menu {
		display: block ;
	    margin-right: 0;
	   
	    margin-top: 15px;
	    margin-bottom: 15px;
	}

	.header .header-wrap .nav-wrap {
		float: left; 
	}
	.header .header-wrap .nav-wrap .menu { margin-left: 0; }

	.main-content.have-sidebar .flat-post-ordering {
		top: -55px;
	}
	.btn-menu:before, .btn-menu:after, .btn-menu span { background: #fff; }



 /*nav mobile*/
 #mainnav-mobi { background: #2c4796; overflow-y: auto;}
 #mainnav-mobi ul li, #mainnav-mobi > ul > li > ul > li, #mainnav-mobi > ul > li > ul > li > ul > li { border-color: #4767c5; }
 #mainnav-mobi ul > li > a { padding-left: 25px; padding-right: 25px; }
  #mainnav-mobi ul > li > a .fa.fa-angle-right { display: none; }
 .btn-submenu { height: 50px; right: 0px; width: 60px;}

  #mainnav-mobi ul li .submenu { background: #3658bb;  }

    #mainnav-mobi ul li .submenu .dropdown-menu  {position: static;width: 100%;float: none;}
    #mainnav-mobi ul li .submenu .dropdown-menu .dropdown-menu  { border: 0; }
#mainnav-mobi > ul > li > ul > li > ul > li a {padding-left: 40px!important;color: #fff;background: #4b72e4;}

#mainnav-mobi > ul > li > ul > li > ul > li.full-width { padding: 10px; }
#mainnav-mobi > ul > li > ul > li > ul > li a.btn-more-s { display: block; width: 100%; text-align: right;  }
#mainnav-mobi > ul > li > ul > li > ul > li li a { background: #fff; color: #4b72e4; }

.flat-row.popular-course { padding: 50px 0; }
.embed-responsive { margin-bottom: 20px; }
.embed-responsive-4by3 { padding-bottom: 56.25%; }
.flat-button-container.text-left { text-align: center; }
img.rouned { width: 100%; margin-bottom: 20px; }
.box  { min-height: 208px; }

article.post:before { display: none; }

.flat-row .container > .row .col-lg-6  {  width: 50%; float: left;}
.block-teacher { max-width: 400px; width: 100%; }
.comment-respond { margin-top: 20px; }

















}

/* Smaller than standard 992 */
@media only screen and (max-width: 991px) {
	.box {
    min-height: 231px;
}
	.footer  { font-size: 13px; }
.footer dt a { font-size: 13px; }
	.blog-posts .blog-title-1 { max-width: 100%;}
	.outer-video { margin-top: 30px; }
	#logo {width: 162px;}
	.btn-menu {
	    margin-top: 15px;
	}

	.header .header-wrap .logo {
		margin-left: 0;
		margin-right: 0;
	}

	.mainnav {
		display: none;
	}

	.title-course {
		padding: 0;
		font-size: 28px;
	}

	.show-search a {
		line-height: 46px;
	}

	.sidebar, .have-sidebar .post-content {
		width: 100%;
	}

	.container,	.flat-pdr-100 {
		padding: 0 15px;
	}

	.flat-button-container, .flat-course-images {
		text-align: center;
	}

	.flat-row.course .flat-pdr-100, .have-sidebar .post-content article.post .content-post {
		margin-bottom: 40px;
	}

	.flat-row:not(.contact-page) {
		padding: 30px 0!important;
		margin-bottom: 0;
	}

	.flat-row.join-us, .flat-row.about-us {
		padding: 0!important;
	}

	.main-content.flat-row {
		padding-top: 80px!important;
	}

	.have-question {
		padding: 0 30px;
	}

	.news-letter-form .widget-mailchimb {
		bottom: 0;
	}

	.flat-counter {
		margin-bottom: 30px;
	}

	.main-content.course-grid .flat-course,
	footer .widget_tweets .link-left {
		width: 50%;		
	}

	.main-content.have-sidebar .sidebar {
		margin-top: 40px
	}

	.footer .widget {
		margin-bottom: 30px;
	}

	.page-title .page-title-heading h2 {
		padding-top: 52px;
	}

	.breadcrumbs {
		padding-bottom: 40px;
	}

	.teacher .flat-teacher {
		width: 50%;
	}

	footer .widget_tweets .link-right {
		float: none;
		padding-left: 30px;
	}

	.flat-contact-form textarea {
		max-width: 100%;
	}

	.course-single .sidebar {
		width: 100%;
		padding-left: 15px;
	}

	.blog-posts .blog-title-single h1, .blog-posts .blog-title h1 {
		margin-bottom: 30px;
	}
	.flat-title-section h1 { font-size: 28px; }

}

/* Tablet Landscape */
 @media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) {

}

/* Tablet Portrait Size */
@media only screen and (min-width: 768px) and (max-width: 991px) {
	
}

/* All Mobile Sizes */
@media only screen and (max-width: 767px) {
	#mainnav-mobi ul > li > a i { display: none;}

	.top-footer dl { margin-bottom: 30px; }
	.bottom-footer .copyright { margin-bottom: 15px; text-align: center; }
	.top-footer .logo { margin: 0 auto 30px auto; }
	.top-footer .row .col-sm-4 { width: 50%; float: left; }
	.top-footer .row .col-sm-3:nth-child(3) { width: 50%; float: right; }
	.top-footer .row .col-sm-2 { width: 100%; clear: both; overflow: hidden; }
	.top-footer .row .col-sm-2 .block-footer{ float: left; width: 50%; }
	.btn-register { float: right; }
	.flat-title-section.text-center h1 { font-size: 22px; }
	.flat-course .course-content h4 {font-size: 18px;height: auto;}
	.btn-more { font-size: 11px; }
	.flat-course .course-content p:last-of-type {margin-bottom: 20px;height: auto;}
	.flat-course .course-content { padding: 20px; }
	.flat-title-section { margin-bottom: 30px; }
	.title-course , .flat-title-section h1   { font-size: 24px; }
	#logo {max-width: 13%;}
	.main-content.blog-posts .entry,
	.row-map .widget-sv,
	.main-content.blog-masory .post-wrap .entry,
	.comment-form .name-container,
	.comment-form .email-container {
		width: 100%;
	}

	.blog-posts .blog-title-single h1, .blog-posts .blog-title h1 {
		font-size: 30px;
		line-height: 30px;
	}

	.main-content.course-grid.have-sidebar .flat-course, .main-content.course-grid.have-sidebar .flat-course:nth-of-type(even), 
	.have-sidebar .post-content article.post, .have-sidebar .post-content article.post:nth-of-type(even) {
		width: 100%;
		margin: 0 0 33px;
	}


	.header-inner-pages p {
		padding-top: 10px;
	}

	.top .right-bar {
		float: none;
	}

	.top .flat-information, .text-information,  .top .flat-socials {
		text-align: center;
		width: 100%;
	}

	.flat-information > li > a {
	    padding: 5px 12px;
	}

	.flat-information > li:before {
		top: 5px;
	}

	.flat-row.join-us p {
		padding: 0 20px;
	}

	.flat-row.testimonial .testimonial-slider {
		width: 100%;
	}

	.contact .comment-form .name-container, 
	.flat-contact-form .input-wrap.name {
		width: 49%;
	}

	.flat-socials > li.facebook, .flat-socials > li.facebook a {
		padding-left: 0;
	}

	.contact-page {
		padding-top: 30px;
		padding-bottom: 30px;
	}
	.flat-contact-form.style2 textarea { height: 150px; }
	.submit-wrap { text-align: right; }
	.contact-content {
	    margin-bottom: 45px;
	}

	.contact .comment-form .name-container, 
	.flat-contact-form .input-wrap.name, .contact .comment-form .email-container,
	.flat-contact-form .input-wrap.email, .contact .comment-form .subject-container,
	.flat-contact-form .input-wrap.Subject {
		width: 100%;
		margin-right: 0;
	}

	.flat-tabs ul.menu-tab li a {
		margin-right: 83px;
	}

	.main-content.course-grid .blog-title {
		margin-bottom: 20px;
	}

	.main-content.course-grid .flat-post-ordering {
		top: 55px;
		padding: 0 10px;
		left: 0;
		right: auto;
	}

	.main-content.course-list .featured-post {
		width: 100%;
		margin: 0 0 20px;
	}

	.main-content.course-list .flat-course .course-content {
		overflow: visible;
		clear: both;
		position: relative;
	}

	.main-content.course-single .course-widget-price {
		width: 100%;
		margin-bottom: 30px;
	}

	.course-widget-price .flat-button {
	    padding: 0 15px;
	    line-height: 37px;
	}

	.main-content {
		padding: 40px 0;
	}

	ul.curriculum li ul.section-content li.course-lesson .fr {
		float: none;
	}

	.blog-posts .comment-post {
		margin-bottom: 40px;
	}

	.blog-posts .comment-post .comment-respond input {
		width: 100%;
	}

	.tp-leftarrow.square:hover, .tp-rightarrow.square:hover,
	.tp-leftarrow.square, .tp-rightarrow.square {
		background: transparent;
	}

	.flat-course .course-content .price {
		top: -32px;
	}

	.flat-tabs ul.menu-tab {
		margin-bottom: 0;
	}

	.flat-tabs ul.menu-tab li {
		margin-bottom: 50px;
	}

	.flat-tabs ul.menu-tab:after {
		top: 39%;
	}

	.blog-posts .comment-post .comment-avatar > img {
		margin-bottom: 5px;
	}

	.blog-posts .comment-post .comment.style1 {
		padding-left: 30px;
	}

	.header .header-wrap .logo {
		width: 150px;
		height: auto;
	}

	.post .date-post {
		margin-right: 10px;
		margin-bottom: 5px;
	}
	 .blog-posts .blog-title h1  { font-size: 24px; }
	 .main-content.flat-row { padding-top: 30px!important; }
	 .flat-pagination { text-align: right; }
	 .blog-pagination .flat-pagination span, .blog-pagination .flat-pagination a  { padding: 5px 13px!important; }
	 .block-addess address p { font-size: 14px; }
}
	

/* Mobile Landscape Size */
@media only screen and (min-width: 480px) and (max-width: 767px) {
	.slogan-top { font-size: 19px; }
	.banner.text-right { height: 100px; }
	h2.title { font-size: 21px; margin-bottom: 1px; }
	.art-all .des:nth-child(2) h2 { font-size: 17px; }
	.art-all .des:nth-child(2) p, article .des p { font-size: 13px; }
	.flat-row .container > .row:nth-child(3) .col-lg-3 {     width: 50%; float: left; }
	.art-all-2 .des:nth-child(2) h3, .art-all-1 .des h3, .art-all-2 .des h3 { font-size: 14px; }
	.flat-row .container > .row .col-lg-7 .row .col-lg-6 {  width: 50%; float: left;}
	.art-all .des:nth-child(2) h2 { font-size: 14px; }
	.post .date-post { padding: 7px 5px 5px 5px; border-width: 1px; }
	.post .date-post span.numb { font-size: 21px; }
	.post .date-post span { font-size: 11px; }
	.post .content-post { padding-left: 80px; }
	.content-post .title-post { font-size: 14px; }
	.outer-day .row .col-lg-6 {  width: 50%; float: left;}
	.outer-day .content-post .title-post { font-size: 12px; }
	.art-all-1 .des:nth-child(2) h3 { font-size: 14px; }
}

/* Mobile Portrait Size */
@media only screen and (max-width: 479px) {
	.slogan-top img { max-width: 260px; }
	body { font-size: 13px; }
	.flat-row .row { margin-right: -7.5px; margin-left: -7.5px; }
	.flat-row .row .col-lg-1 , .flat-row .row .col-md-8 ,.flat-row .row .col-lg-1, .flat-row .row .col-lg-2, .flat-row .row .col-lg-3,.flat-row .row .col-lg-4,.flat-row .row .col-lg-5,.flat-row .row .col-lg-6,.flat-row .row .col-lg-7,.flat-row .row .col-lg-8,.flat-row .row .col-lg-9,.flat-row .row .col-lg-10,.flat-row .row .col-lg-11,.flat-row .row .col-lg-12 { padding-left: 7.5px; padding-right: 7.5px;  }
	.slogan-top {font-size: 12px;}
	.banner.text-right { height: 100px; }
	h2.title { font-size: 19px; margin-bottom: 1px; }
	.art-all-2 .des:nth-child(2), .art-all-1 .des:nth-child(2), .art-all .des:nth-child(2) { padding: 10px; }
	
	.art-all .des:nth-child(2) p, article .des p { font-size: 10px; line-height: 1.3; }
	.flat-row .container > .row:nth-child(3) .col-lg-3 {     width: 50%; float: left; }
	.art-all-2 .des:nth-child(2) h3, .art-all-1 .des h3, .art-all-2 .des h3 { font-size: 12px; }
	.flat-row .container > .row .col-lg-7 .row .col-lg-6, .flat-row .container > .row .col-lg-6  {  width: 50%; float: left;}
	
	.flat-row .container > .row .col-lg-6.col-xs-12 { width: 100%!important; }


	.art-all .des:nth-child(2) h2 {font-size: 14px;margin-bottom: 0;box-orient: vertical;-moz-box-orient: vertical;-webkit-box-orient: vertical;display: -webkit-box;overflow: hidden;text-overflow: ellipsis;white-space: normal;-webkit-line-clamp: 3;line-clamp: 3;}
	.post .date-post { padding: 7px 5px 5px 5px; border-width: 1px; }
	.post .date-post span.numb {font-size: 19px;}
	.post .date-post span {font-size: 11px;}
	.post .content-post { padding-left: 65px; }
	.content-post .title-post { font-size: 14px; }
	.outer-day .row .col-lg-6 {  width: 50%; float: left;}
	.outer-day .content-post .title-post {font-size: 10px;}
	.art-all-1 .des:nth-child(2) h3 { font-size: 14px; }
	.art-all .des:nth-child(2) p { display: none; }
	.footer { font-size: 13px; }
	.footer dt a { font-size: 15px; }
	.bottom-footer .list-social { float: none; text-align: center; display: block; }
	#logo { max-width: 65px; }
	.banner.text-right { height: 83px; }
	.thumb img { padding-bottom: 70%; }
	article.post:before { display: none; }
	.full-width{ width: 100%!important; float: none!important; }
	.title-center { text-align: center; }
	.entry-image img { width: 100%; }
	.art-intro h3 { font-size: 15px; }

	.art-intro p , .art-icon .des p, .art-intro.muted { font-size: 14px; }
	.box { width: 100%; margin-left: 0; margin-right: 0; min-height: 0;}
	.box p { font-size: 13px; }
	.partners-slider_1 li .des h4 , .art-all-1 .des h3.title-all-1 { font-size: 14px; }
	.main-content.course-list .flat-course .course-content h4 a{ font-size: 15px; }
	.partners-slider_1 li .des { padding: 10px; }
	.owl-carousel .owl-item { margin-right: 10px!important; }
	.blog-title h2 { font-size: 19px; } 
	.map iframe { height: 400px; }

	.block-teacher { width: 100%; margin-left: auto; margin-right: auto; } 
	.art-subject h3 { font-size: 12px; box-orient: vertical;
    -moz-box-orient: vertical;
    -webkit-box-orient: vertical;
    display: -webkit-box;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
    -webkit-line-clamp: 1;
    line-clamp: 1; }
    .art-bgh { font-size: 13px; }

	.pagination { text-align: center;}
	.go-top { bottom: 50px; }
	.teacher .flat-teacher {
		width: 100%;
	}

	.flat-portfolio.v1 .item,
	.flat-portfolio.v3 .item,
	.flat-portfolio.v3 .item.w50,
	.flat-portfolio.v4 .item,
	.flat-portfolio.v2 .item,
	ul.products li {
		width: 100%;
	}

	.flat-information > li, .flat-information > li.email {
		margin: 0;
	}

	.flat-row.testimonial .testimonial-slider {
		padding: 15px;
	}

	.news-letter-form .widget-mailchimb p, .news-letter-form .widget-mailchimb .widget-title,
	.news-letter-form .widget-mailchimb input[type=email] {
		margin-bottom: 10px;
	}

	.news-letter-form .widget-mailchimb input[type=email] {
		width: 100%;
	}

	.flat-tabs .content-tab .text-tab {
		width: 100%;
		padding: 15px;
	}

	.flat-tabs .content-tab .images-tab {
		width: 100%;
	}

	.button-right.owl-theme .owl-controls .owl-nav div.owl-next, 
	.button-right.owl-theme .owl-controls .owl-nav div.owl-prev {
		top: -32px;
	}

	.flat-tabs ul.menu-tab li a {
		margin-right: 19px;
	}

	.flat-accordion .flat-toggle .toggle-content {
		margin-left: -30px;
		padding-right: 25px;
	}

	.flat-accordion .toggle-content > div {
		overflow: visible;
	}

	.flat-accordion .toggle-content .faq-img {
		width: 100%;
		margin-right: 0;
		margin-bottom: 20px;
	}

	.main-content.course-grid .flat-post-ordering {
		top: 55px;
		padding: 0 10px;
		left: 0;
		right: auto;
	}

	.main-content.course-grid.have-sidebar .flat-post-ordering,  {
		top: -95px;
	}

	.main-content.course-grid .list-grid{
		float: right;
	}

	.main-content.course-grid label.modern-select, .main-content.course-list label.modern-select {
		margin-bottom: 5px;
	}

	.main-content.course-grid .flat-course, .main-content.course-grid.have-sidebar .flat-course {
		width: 100%;
	}

	.main-content.course-list .flat-post-ordering {
		top: 62px;
		width: 100%;
		right: 0;
	}

	.post-lastest-new  .post .date-post {
		margin-right: 15px;
	}

	.content-post {
		padding: 0;
	}

	.news-letter-form .widget-mailchimb button {
		padding: 0 12px;
	    font-size: 10px;
	}
	.post .content-post .title-post { font-size: 14px!important;     -webkit-line-clamp: 4;
    line-clamp: 4; }
}

@media (max-width: 361px) {	
	.slogan-top img { max-width: 240px; }
	.main-content.course-list .course-meta.desc {
		top: 145px;
	}
	
	.main-content.course-list .flat-course .course-meta.review {
		margin-bottom: 96px;
	}

	.flat-course-images {
		margin: 0 -15px;
	}

	.flat-course-images li {
		margin-right: 0;
		float: left;
		width: 50%;
	}

}
@media (max-width: 321px) {
	.slogan-top img { max-width: 210px; }
}

/* Retina Devices */
	@media 
	only screen and (-webkit-min-device-pixel-ratio: 2),
	only screen and (   min--moz-device-pixel-ratio: 2),
	only screen and (   -moz-min-device-pixel-ratio: 2),
	only screen and (     -o-min-device-pixel-ratio: 2/1),
	only screen and (        min-device-pixel-ratio: 2),
	only screen and (                min-resolution: 192dpi),
	only screen and (                min-resolution: 2dppx) {
	
}
